<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413947371165-1pdf2hl0cmfkuc25ssmo59i25ll4r0do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413947371165-1pdf2hl0cmfkuc25ssmo59i25ll4r0do</string>
	<key>API_KEY</key>
	<string>AIzaSyAcQU7RlR21rlYEFr6C84nGv6e7NncE9CA</string>
	<key>GCM_SENDER_ID</key>
	<string>413947371165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nabiullin.milota</string>
	<key>PROJECT_ID</key>
	<string>milotaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>milotaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413947371165:ios:50d4479d1993d4488d7e74</string>
</dict>
</plist>